{% extends 'base.html' %}
{% load static blog-tags %}
{% block content %}
  <main class="main">
    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Blog</h1>
              <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="/">Home</a></li>
            <li class="current">Blog</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Blog Posts Section -->
    <section id="blog-posts" class="blog-posts section">
    <div class="container">
      
      <div class="row gy-4">
        {% if posts %}
          {% for post in posts %}
            <div class="col-lg-4">
              <article>
              <div class="post-img" style="overflow:hidden; border-radius:6px;">
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid"
                    style="display:block; width:100%; height:220px; object-fit:cover;">
              </div>
                {% for cat in post.category.all %}
                  <a href="{% url 'blog:category' cat_name=cat.name %}" class="category-link">{{ cat.name }}{% if not forloop.last %} , {% endif %}</a>
                {% endfor %}
                <h2 class="title">
                  <a href="{% url 'blog:blogsingle' pid=post.id %}">{{ post.title }}</a>
                </h2>
                <div class="d-flex align-items-center">
                  <div class="post-meta">
                    <p class="author"><a href="{% url 'blog:author' author_username=post.author %}">{{ post.author }}</a></p>
                    <p class="post-date">
                      <time datetime="{{ post.published_date }}">{{ post.published_date|date:"Y-M-j" }}</time>
                    </p>
                    <p>
                    <a
                      href="{% url 'blog:blogsingle' pid=post.id %}"
                      class="primary-btn"
                      >View More</a>
                      </p>
                  </div>
                </div>
              </article>
            </div>
          {% endfor %}
        {% else %}
          <h3>No results found.</h3>
        {% endif %}
      </div>
    </div>
    </section><!-- /Blog Posts Section -->
    
    <!-- Blog Pagination Section -->
    <section id="blog-pagination" class="blog-pagination section">
      <div class="container">
        <div class="d-flex justify-content-center">
          <ul>
            {# previous #}
            {% if posts.has_previous %}
              <li>
                <a href="?page={{ posts.previous_page_number }}">
                  <i class="bi bi-chevron-left"></i>
                </a>
              </li>
            {% else %}
            {% endif %}
            {# pages #}
            {% for page_number in posts.paginator.page_range %}
              {% if page_number == posts.number %}
                <li><a href="?page={{ page_number }}" class="active">{{ page_number }}</a></li>
              {% else %}
                <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
              {% endif %}
            {% endfor %}
            {# next #}
            {% if posts.has_next %}
              <li>
                <a href="?page={{ posts.next_page_number }}">
                  <i class="bi bi-chevron-right"></i>
                </a>
              </li>
            {% else %}
            {% endif %}
          </ul>
        </div>
      </div>
    </section>
  </main>
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Preloader -->
  <div id="preloader"></div>
  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
{% endblock %}